<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <title>Mock Api</title>
</head>

<body>

    <!-- NavBar -->
    <section class="section has-background-dark">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="title has-text-white">Mock Api</h1>
                </div>
            </div>
        </nav>
    </section>

    <section class="section">
        <div class="hero is-dark is-medium">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Get Free fake data
                    </h1>
                    <p class="subtitle">
                        Use our free fake data for Testing, Prototyping, Tutorials...
                    </p>
                </div>
            </div>

        </div>
    </section>


    <section class="section">
        <div class="container">
            <article class="message is-dark">
                <div class="message-header">
                    <p class="is-size-3">Usage</p>
                </div>
                <div class="message-body">
                    <p>
                        fetch('https://mockapi21.herokuapp.com/todo') <br>
                        .then(response => response.json()) <br>
                        .then(json => console.log(json)) <br>
                        .catch(err=> console.log(err))
                    </p>
                </div>
            </article>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <article class="message is-dark">
                <div class="message-header">
                    <p class="is-size-3">Resources</p>
                </div>
                <div class="message-body">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <tr>
                            <th class="thead">End points</th>
                            <th class="thead">Info</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/posts" target="blank">/posts</a>
                            </td>
                            <td>
                                100 posts
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/comments" target="blank">/comments</a>
                            </td>
                            <td>
                                500 comments
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/albums" target="blank">/albums</a>
                            </td>
                            <td>
                                100 albums
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/photos" target="blank">/photos</a>
                            </td>
                            <td>
                                5000 photos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/todos" target="blank">/todos</a>
                            </td>
                            <td>
                                200 todos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://mockapi21.herokuapp.com/users" target="blank">/users</a>
                            </td>
                            <td>
                                10 users
                            </td>
                        </tr>
                    </table>
                </div>
            </article>
        </div>
    </section>


</body>

</html>
